<?xml version="1.0" encoding="utf-8" ?>
<configuration>
 
  <appSettings>
    <add key="DATABASE" value="arca-tesoros-bd"/>
    <!--<add key="HOSTNAME" value="localhost"/>-->
    <add key="HOSTNAME" value="52.176.97.243"/>
    <add key="USUARIO" value="desarrollo"/>
    <!--<add key="USUARIO" value="postgres"/>-->
    <add key="CONFIGURACION" value="arca2019"/>
    <!--<add key="CONFIGURACION" value="Soporte+23"/>-->
    <add key="PUERTO" value="5432"/>
    <add key="IMAGEN_BANNER" value=""/>
    <add key="IMAGEN_LOGO" value=""/>
    <add key="FILTRO_IMAGENES_COLABORADOR" value="Image files(*.jpg, *.jpeg, *.jpe, *.jfif, *.png) | *.jpg; *.jpeg; *.jpe; *.jfif; *.png"/>
    <add key="USAR_UPPER_CASE" value="true"/> <!--De ser lo contrario utilizará Normal Case-->
    <add key="DIRECTORIO_INICIAL_CARGA_FOTOS" value="C:\Users\Imagenes"/>
   
  
  </appSettings>
    <startup>
        
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
 
 
</configuration>
