<?xml version="1.0" encoding="utf-8" ?>
<configuration>
 
  <appSettings>
    <add key="DATABASE" value="arca-tesoros-bd"/>
    <add key="HOSTNAME" value="35.232.121.191"/>
    <add key="USUARIO" value="desarrollo"/>
    <add key="CONFIGURACION" value="arca2019"/>
    <add key="PUERTO" value="5432"/>
    <add key="IMAGEN_BANNER" value=""/>
    <add key="IMAGEN_LOGO" value=""/>   
  </appSettings>
    <startup>
        
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
 
 
</configuration>
