<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="DATABASE" value="arcatesoros-bd"/>
    <add key="HOSTNAME" value="35.225.170.83"/>
    <add key="USUARIO" value="desarrollo"/>
    <add key="CONFIGURACION" value="arcatesoros_conf"/>
    <add key="PUERTO" value="5432"/>
    <add key="IMAGEN_BANNER" value=""/>
    <add key="IMAGEN_LOGO" value=""/>
    <add key="MODULO" value="4"/>
                          <!--1.ANCIANO
                              2.DIACONO
                              3.COORDINADOR DE DIA
                              4.COORDINADOR DE EDAD-->
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>